.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    min-width: 40%;
    align-items: center;
}

.image{
    padding:"10px" ;
    border-radius: 50%; 
    width: 60%; 
}


.title{
    text-align: center;
    font-size: 30px;
    width: 80%;
}

.list{
    float: left;
}